* {
	border:0;
	margin:0;
	padding:0;
}

/* links */


a {
	color:#C25D20; font-weight:bold; /*606B4B #, #C25D20 -- orange, #556729-- green*/ 
	text-decoration:none;
	
}

a:hover {
	color:#111;
	text-decoration:none;
	font-weight:bold;
}

/* body*/

body {
	background:#fafafa;
	color:#444;
	font:0.8em Helvetica;
}

/* header*/

#header {
	border-bottom:1px dashed #373D2B;
	height:85px;
	margin:0 auto;
	width: 740px;
}
#header h1 {
	color:#373D2B;
	font-size:300%;
	letter-spacing:-2px;
	text-align:left;
	padding:5px;
	margin-top:40px;
	margin-bottom:-20px;
	font: Helvetica;
}
#header h2 {
	color:#ADB59F;
	font-size:200%;
	font: Helvetica;
	letter-spacing:-2px;
	text-align:left;
}

#header h3 {
	color:#ADB59F;
	font-size:130%;
	font: Helvetica;
	letter-spacing:-2px;
	text-align:left;
	padding:5px;
	margin-top:40px;
	margin-bottom:20px;
}

/* navigation*/

#navigation {
	background:#fafafa;
	border-bottom:1px dashed #373D2B;
	margin:0 auto;
	width: 740px;
	height:55px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #fefefe;
	float:left;
	width:143px;
	list-style:none;
}
#navigation a {
	color:#444;
	display:block;
	line-height:50px;
	text-align:center;
}
#navigation a:hover {
	background:#C6CCBC;
	color:#444;
}
#navigation .active {
	background:#DBDFD5;
	color:#444;
}

/* ordered list */

ol {font-weight: bold;}
ol li span.label {font-weight:normal;}
li {
    display: list-item;}

/*unordered list*/


/* content*/

#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width: 740px;
	text-align=justify;
	}
#content h1 {
	%border-bottom:1px dashed #999;
    color:#373D2B;
	font-size:1.7em;
	padding:18px 0 0;
}

#content summary {
    font-size: 110%; 
    font-weight: bold;
    padding: 15x;
    margin-top: 10px;
    margin-bottom: 10px;
}
    
#content p {
	padding:18px 20px 0;
	text-align=justify;
}

#content li {
    /*margin: 0 0 3px 0;*/
    text-align=justify;
    margin-left:10px;
    padding:18px 20px 0; /*different depending on page*/
}




/*#contentt li:last-child {
 margin-bottom: 0px;
}*/

/* footer*/

#footer {
	height:50px;
	margin:0 auto;
	padding:50px;
	text-align:center;
	width: 700px;
}





