* {
	border:0;
	margin:0;
	padding:0;
}

/* links */


a {
	color:#C25D20;  /*font-weight:bold; 606B4B #, #C25D20 -- orange, #556729-- green*/ 
	text-decoration:underline;
	
}

a:hover {
	color:#111;
	text-decoration:underline;
	/*font-weight:bold;*/
}

/* body*/

body {
	background:#fafafa;
	color:#444;
	font:0.9em Helvetica;
}

/* header*/

#header {
	/*border-bottom:1px dashed #373D2B;*/
	height:85px;
	margin:0 auto;
	/*width: 40%;*/
	width: 740px;
}
#header h1 {
	color:#373D2B;
	font-size:300%;
	letter-spacing:-2px;
	text-align: center;
	padding:5px;
	margin-top:40px;
	margin-bottom:0px;
	font: Helvetica;
	position: relative;
}
#header h2 {
	color:#ADB59F;
	font-size:200%;
	font: Helvetica;
	letter-spacing:-2px;
	text-align:left;
}

#header h3 {
	color:#ADB59F;
	font-size:130%;
	font: Helvetica;
	letter-spacing:-2px;
	text-align:left;
	padding:5px;
	margin-top:40px;
	margin-bottom:20px;
}

/* navigation*/

#navigation {
	background:#fafafa;
	/*border-bottom:1px dashed #373D2B;*/
	margin:0 auto;
	/*width: 45%;*/
width: 780px;
	height:55px;
    padding: 10px;
	list-style:none;
	font: Futura;
  overflow: hidden;	
  margin: auto;
}
#navigation li {
	float:left;
	text-align: center;
	width: 18%; /* Split width appropriately */
/* old	width:143px; */
	list-style:none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
      display: inline-block;
}


#navigation a {
	color:#444;
	line-height:50px;
	text-align:center;
	text-decoration: none;
	font: Futura;
	margin-right: 30px;
	float: left; 
}
#navigation a:hover {
	background:#C6CCBC;
	color:#444;
	text-decoration: none;
}
#navigation .active {
	background:#DBDFD5;
	color:#444;
	text-decoration: none;
}


/* navigation new */

navbar{
  text-align: center;
  justify-content: center;
}

.topnav {
  /*position: relative;*/
  /*position: absolute;
  top: 10%;
  left: 33%;*/
  position:relative;
  margin-top:-1.25em;
  left:15%;
/*  margin-left:8.15em;*/
  padding-bottom:1em;
  z-index: 99;
text-align: center;
  background-color: #fafafa;
  overflow: hidden;
  padding: 10px;
  width:100%;
  justify-content: space-between;
    align-items: center;
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:#7b8a75;
  text-align: center;
  align-items: center;
  display: inline-block;
   justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 120%;
  font: Futura;
  margin-right: 20px;
}



/* Change the color of links on hover */
.topnav a:hover {
	background:#C6CCBC;
	color:#7b8a75; 
	text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
	background:#DBDFD5;
	color:#444;
	text-decoration: none;
}

/*responsive layout */

/* ordered list */

ol {font-weight: bold;}
ol li span.label {font-weight:normal;}
li {
    display: list-item;}

/*unordered list*/



/* content*/

#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	/*width: 45%;*/
	width: 740px;
	text-align=justify;
	line-height: 1.4;
	}
#content h1 {
	%border-bottom:1px dashed #999;
    color:#373D2B;
	font-size:1.7em;
	padding:18px 0 0;
}

#content summary {
    font-size: 110%; 
    font-weight: bold;
    padding: 15x;
    margin-top: 10px;
    margin-bottom: 10px;
}
    
#content p {
	padding:18px 20px 0;
	text-align=justify;
}

#content li {
    /*margin: 0 0 3px 0;*/
    text-align=justify;
    margin-left:10px;
    padding:18px 20px 0; /*different depending on page*/
}




/*#contentt li:last-child {
 margin-bottom: 0px;
}*/

/* responsive layout*/

@media only screen and (max-width: 600px) {

   body { 
      font-size: 2em; 
   }
   
   #content { width: 100%;}

}


#footer {
	height:50px;
	margin:0 auto;
	padding:50px;
	text-align:center;
	/*width: 700px;*/
		width: 40%;
}


/*! images */

img {
  max-width: 100%;
  height: auto;
}


